/* 
COLOR PALETTE
VIOLA color:rgb(67, 17, 103);
GIALLO color:rgb(255, 206, 0);
LILLA color:rgb(204, 174, 225);
GIALLINO color:rgb(255, 233, 146);
*/

/* Valori generici per tutto il file */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 520px;
    margin: 0 auto;
}

html {
    padding: 20px;
    font-family: urbanist;
    color: rgb(67, 17, 103);
    background-color: rgb(255, 233, 146);
}

/* Generiche */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

h1 {
    font-size: 30px;
    color: rgb(255, 206, 0);
    margin: 10px;
}

/* Pannello */

.panel {
    background-color: rgb(67, 17, 103);
    padding: 20px;
    border-radius: 50px;
    margin: 18px 0
}

/* Elementi sezione aggiungi */

.add-todo {
    display: flex;
    gap: 14px;
}

input {
    font-size: 14px;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background-color: rgb(204, 174, 225);
    color: rgb(67, 17, 103);
    flex-grow: 1;
}

button {
    cursor: pointer;
    padding: 14px;
    border-radius: 30px;
    font-size: 14px;
    border: none;
    background-color: rgb(255, 206, 0);
    color: rgb(67, 17, 103);
}

/* Messaggio lista vuota */

.empty-list {
    text-align: center;
    font-size: 18px;
}

/* Elementi attività */

.todo-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: rgb(204, 174, 225);
    margin: 16px 0;
    border-radius: 30px;
}

.todo-text {
    padding: 14px;
}

.todo-check {
    cursor: pointer;
    padding: 14px;
    color: rgb(255, 206, 0);
    background-color: rgb(67, 17, 103);
    border-radius: 30px 0 0 30px;
}
